Repository johnnyxcy/mas-dev-next: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maspectra-lint, ebt-test, masmod-test, maspy-test, noctowl-test, phanpy-test, prepare-node-dependencies, prepare-python-dependencies, prepare-cxx-dependencies

maspectra-lint:
  stage: lint
  variables:
    MASPECTRA_ARTIFACT_DIR: ${CI_ARTIFACT_DIR}/nodejs/maspectra
  tags:
  - windows
  needs:
  - job: prepare-python-dependencies
    optional: true
  - job: prepare-node-dependencies
    optional: true
  script:
  - yarn workspace @mas/protobuf gen:ts
  - yarn workspace @mas/maspectra lint:tsc
  ...

ebt-test:
  stage: test
  variables:
    EBT_ARTIFACT_DIR: ${CI_ARTIFACT_DIR}/python/ebt
  needs:
  - job: prepare-python-dependencies
    optional: true
  - job: build-all-pyd
  tags:
  - windows
  script:
  - yarn workspace @mas/protobuf gen:py
  ...

masmod-test:
  stage: test
  variables:
    MASMOD_ARTIFACT_DIR: ${CI_ARTIFACT_DIR}/python/masmod
    MASMOD_SKIP_COMPILE_IF_EXISTS: 0
  needs:
  - job: prepare-python-dependencies
    optional: true
  - job: prepare-cxx-dependencies
    optional: true
  - job: build-all-pyd
  tags:
  - windows
  script:
  ...

maspy-test:
  stage: test
  variables:
    MASPY_ARTIFACT_DIR: ${CI_ARTIFACT_DIR}/python/maspy
  needs:
  - job: prepare-python-dependencies
    optional: true
  tags:
  - windows
  script:
  ...

noctowl-test:
  stage: test
  variables:
    NOCTOWL_ARTIFACT_DIR: ${CI_ARTIFACT_DIR}/nodejs/noctowl
    JEST_JUNIT_OUTPUT_DIR: ${NOCTOWL_ARTIFACT_DIR}
    JEST_JUNIT_OUTPUT_NAME: jest-junit.xml
    JEST_COVERAGE_OUT_DIR: ${NOCTOWL_ARTIFACT_DIR}
  tags:
  - windows
  needs:
  - job: prepare-node-dependencies
    optional: true
  ...

phanpy-test:
  stage: test
  variables:
    PHANPY_ARTIFACT_DIR: ${CI_ARTIFACT_DIR}/python/phanpy
  needs:
  - job: prepare-python-dependencies
    optional: true
  tags:
  - windows
  script:
  ...

prepare-node-dependencies:
  stage: .pre
  tags:
  - windows
  retry: 2
  script:
  - echo "🚅 正在准备新的 node_modules 缓存..."
  - yarn --frozen-lockfile --network-timeout 1000000

prepare-python-dependencies:
  stage: .pre
  tags:
  - windows
  script:
  - echo "🚅 正在准备新的 python 缓存..."
  - python -m pip install -U poetry==1.4.0
  - python -m poetry install --no-root

prepare-cxx-dependencies:
  stage: .pre
  variables:
    PREPARE_CXX_BOOST_BUILD_DIR: ${CI_PROJECT_DIR}/buildboost
  tags:
  - windows
  script:
  - echo "🚅 正在准备新的 CXX .local 缓存..."
  - python ./common/scripts/prepare_cxx.py

chore: setup project directories for languages
  typescript/.prettierignore
  typescript/.prettierrc.js
  typescript/.yarnrc
  typescript/README.md
  typescript/package.json
Due: none

chore: setup project directories for languages
  .vscode/settings.json
  c++/.clang-format
  c++/.cmake/CodeCoverage.cmake
  c++/.cmake/DebugTargetProperties.cmake
  c++/.cmake/LookForDependencies.cmake
  c++/.cmake/LookForTestDependencies.cmake
  c++/.cmake/__init__.py
  c++/.cmake/ext_setup.py
  c++/.debug/LLDB_Eigen_Pretty_Printer.py
  c++/.lldbinit
  c++/CMakeLists.txt
  c++/README.md
  python/README.md
  python/poetry.toml
  python/pyproject.toml
  vendor/pybind11_stubgen/__init__.py
Due: none

chore: add check dev tools
  .scripts/check_devtools.py
  .scripts/logger.py
Due: none

chore: update maspectra project layout
  typescript/.prettierignore
  typescript/.prettierrc.cjs
  typescript/.yarnrc
  typescript/apps/maspectra/.eslintrc.js
  typescript/apps/maspectra/.gitignore
  typescript/apps/maspectra/electron-builder.json5
  typescript/apps/maspectra/jest.config.ts
  typescript/apps/maspectra/package.json
  typescript/apps/maspectra/src/platform/main.ts
  typescript/apps/maspectra/tsconfig.eslint.json
  typescript/apps/maspectra/tsconfig.json
  typescript/apps/maspectra/tsconfig.node.json
  typescript/apps/maspectra/vite.config.ts
  typescript/apps/maspectra_e2e/.gitkeep
  typescript/package.json
  typescript/packages/eslint-config/base.eslint.js
  typescript/packages/eslint-config/package.json
  typescript/packages/eslint-config/react.eslint.js
  typescript/packages/eslint-config/restricted-path.eslint.js
  typescript/tsconfig.base.json
  typescript/tsconfig.node.json
  typescript/yarn.lock
Due: none

chore: update .vscode configuration
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

chore: update project layout
  .gitignore
  .prettierignore
  .prettierrc.cjs
  .vscode/cmake-kits.json
  apps/maspectra/.eslintrc.js
  apps/maspectra/.gitignore
  apps/maspectra/.scripts/.debug.script.mjs
  apps/maspectra/electron-builder.json5
  apps/maspectra/jest.config.ts
  apps/maspectra/package.json
  apps/maspectra/src/platform/main.ts
  apps/maspectra/tsconfig.eslint.json
  apps/maspectra/tsconfig.json
  apps/maspectra/tsconfig.node.json
  apps/maspectra/vite.config.ts
  apps/maspectra_e2e/.gitkeep
  package.json
  packages/eslint-config/base.eslint.js
  packages/eslint-config/package.json
  packages/eslint-config/react.eslint.js
  packages/eslint-config/restricted-path.eslint.js
  tsconfig.base.json
  tsconfig.node.json
  typescript/README.md
  yarn.lock
Due: prepare-node-dependencies

chore: update qa tools and layout
  .eslintignore
  .scripts/qa.py
  .vscode/settings.json
  lint-staged.config.js
  package.json
  poetry.lock
  poetry.toml
  pyproject.toml
  python/pyproject.toml
  yarn.lock
Due: prepare-node-dependencies, prepare-python-dependencies

chore: update commit-msg hook
  .husky/commit-msg
  .scripts/qa.py
  .scripts/verify_commit.py
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: prepare-python-dependencies

style: fix black style
  .scripts/check_devtools.py
  .scripts/logger.py
Due: none

chore: update pre-commit tty check
  .husky/pre-commit
Due: none

chore: update layout
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  apps/desktop/.eslintrc.js
  apps/desktop/.scripts/debug.mjs
  apps/desktop/index.html
  apps/desktop/package.json
  apps/desktop/public/favicon.ico
  apps/desktop/public/node.svg
  apps/desktop/src/platform/main.ts
  apps/desktop/src/platform/preload.ts
  apps/desktop/src/workbench/index.tsx
  apps/desktop/src/workbench/vite-env.d.ts
  apps/desktop/tsconfig.eslint.json
  apps/desktop/tsconfig.json
  apps/desktop/tsconfig.node.json
  apps/desktop/vite.config.ts
  apps/maspectra/.gitignore
  apps/maspectra/electron-builder.json5
  apps/maspectra/jest.config.ts
  apps/maspectra/package.json
  apps/maspectra/tsconfig.json
  apps/maspectra/tsconfig.node.json
  apps/maspectra_e2e/.gitkeep
  yarn.lock
Due: prepare-node-dependencies

💥 feat: support ioc
  .editorconfig
  .prettierrc.cjs
  .vscode/launch.json
  .vscode/settings.json
  apps/desktop/package.json
  package.json
  packages/eslint-config/react.eslint.js
  packages/i18n/.eslintrc.js
  packages/i18n/package.json
  packages/i18n/src/common/localization-server.ts
  packages/i18n/src/common/localization.ts
  packages/i18n/tsconfig.eslint.json
  packages/i18n/tsconfig.json
  packages/shared/.eslintrc.js
  packages/shared/.gitignore
  packages/shared/README.md
  packages/shared/jest.config.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/ioc/README.md
  packages/shared/src/ioc/__tests__/example.test.ts
  packages/shared/src/ioc/index.ts
  packages/shared/tsconfig.eslint.json
  packages/shared/tsconfig.json
  packages/tools/.eslintrc.js
  packages/tools/eslint/restricted-path.eslint.js
  packages/tools/eslint/rules.eslint.js
  packages/tools/jest/config.jest.ts
  packages/tools/package.json
  packages/tools/tsconfig.eslint.json
  packages/tools/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: prepare-node-dependencies

chore: drop external
  .vscode/settings.json
  package.json
  packages/base/src/common/decorators.ts
  packages/base/tests/common/decorators.test.ts
  packages/contribution/.eslintrc.cjs
  packages/contribution/.gitignore
  packages/contribution/README.md
  packages/contribution/package.json
  packages/contribution/src/common/contribution-filter-registry.ts
  packages/contribution/src/common/contribution-filter.ts
  packages/contribution/src/common/contribution-provider.ts
  packages/contribution/src/common/filter.ts
  packages/contribution/src/index.ts
  packages/contribution/tsconfig.eslint.json
  packages/contribution/tsconfig.json
  packages/contribution/vite.config.ts
  packages/i18n/.eslintrc.cjs
  packages/i18n/package.json
  packages/i18n/src/common/index.ts
  packages/i18n/src/common/localization-server.ts
  packages/i18n/src/common/localization.ts
  packages/i18n/src/common/nls.metadata.json
  packages/i18n/src/nls.ts
  packages/i18n/src/node/index.ts
  packages/i18n/src/node/localization-contribution.ts
  packages/i18n/src/node/localization-provider.ts
  packages/i18n/tests/nls.test.ts
  packages/i18n/tsconfig.eslint.json
  packages/i18n/tsconfig.json
  packages/i18n/vite.config.ts
  packages/shared/README.md
  packages/shared/src/index.ts
  packages/shared/src/ioc/README.md
  packages/shared/src/ioc/index.ts
  packages/shared/src/ioc/tests/example.test.ts
  packages/tools/eslint/rules.eslint.js
  yarn.lock
Due: prepare-node-dependencies

💥 feat: add infrastructure @mas/base
  packages/base/package.json
  packages/base/src/common/char-code.ts
  packages/base/src/common/errors.ts
  packages/base/src/common/functional.ts
  packages/base/src/common/id-generator.ts
  packages/base/src/common/iterator.ts
  packages/base/src/common/json-edit.ts
  packages/base/src/common/json-error-message.ts
  packages/base/src/common/json-formatter.ts
  packages/base/src/common/json-schema.ts
  packages/base/src/common/json.ts
  packages/base/src/common/objects.ts
  packages/base/src/common/parser.ts
  packages/base/tests/common/char-code.test.ts
  packages/base/tests/common/iterator.test.ts
  packages/base/tests/common/json-edit.test.ts
  packages/base/tests/common/json-formatter.test.ts
  packages/base/tests/common/json.test.ts
  packages/base/tests/common/objects.test.ts
  packages/i18n/package.json
  packages/i18n/src/nls.ts
  packages/tools/eslint/rules.eslint.js
Due: none

chore: implementing @mas/base/tenary-search-tree
  packages/base/src/common/ternary-search-tree.ts
  packages/base/src/testing/common/utils.ts
  packages/base/tests/common/ternary-search-tree.test.ts
Due: none

test: always skip ternary performance test
  packages/base/tests/common/ternary-search-tree.test.ts
Due: none

feat: implement @mas/base
  packages/base/src/common/buffer.ts
  packages/base/src/common/key-codes.ts
  packages/base/src/common/keybinding-labels.ts
  packages/base/src/common/keybinding-parser.ts
  packages/base/src/common/keybindings.ts
  packages/base/src/common/linked-text.ts
  packages/base/src/common/marshalling.ts
  packages/base/src/common/stream.ts
  packages/base/tests/common/buffer.test.ts
  packages/base/tests/common/key-codes.test.ts
  packages/base/tests/common/keybindings.test.ts
  packages/base/tests/common/linked-text.test.ts
  packages/base/tests/common/map.test.ts
  packages/base/tests/common/marshalling.test.ts
  packages/i18n/src/nls.ts
Due: none

💥 feat: @mas/base
  .eslintignore
  packages/base/.eslintrc.cjs
  packages/base/package.json
  packages/base/src/common/actions.ts
  packages/base/src/common/color.ts
  packages/base/src/common/comparers.ts
  packages/base/src/common/di.ts
  packages/base/src/common/error-message.ts
  packages/base/src/common/filters.ts
  packages/base/src/common/fuzzy-scorer.ts
  packages/base/src/common/glob.ts
  packages/base/src/common/hash.ts
  packages/base/src/common/history.ts
  packages/base/src/common/numbers.ts
  packages/base/src/common/parsers.ts
  packages/base/src/common/search.ts
  packages/base/src/common/severity.ts
  packages/base/src/common/uri-ipc.ts
  packages/base/src/common/uuid.ts
  packages/base/src/testing/common/troubleshooting.ts
  packages/base/tests/common/color.test.ts
  packages/base/tests/common/di.test.ts
  packages/base/tests/common/errors.test.ts
  packages/base/tests/common/filters.perf.test.ts
  packages/base/tests/common/filters.test.ts
  packages/base/tests/common/fixtures/filters.perf.data.d.ts
  packages/base/tests/common/fixtures/filters.perf.data.js
  packages/base/tests/common/fuzzy-scorer.test.ts
  packages/base/tests/common/glob.test.ts
  packages/base/tests/common/history.test.ts
  packages/base/tests/common/path.test.ts
  packages/base/tests/common/ternary-search-tree.test.ts
  packages/base/tests/common/types.test.ts
  packages/base/tests/common/uuid.test.ts
  packages/base/vite.config.ts
  packages/tools/.eslintrc.cjs
  packages/tools/eslint/rules.eslint.js
  packages/tools/tsconfig.eslint.json
  packages/tools/tsconfig.json
  yarn.lock
Due: prepare-node-dependencies

🏰 chore: improve eslint rules to separate tsx and ts files
  .eslintignore
  packages/base/.eslintignore
  packages/base/package.json
  packages/tools/eslint/rules.eslint.js
  packages/tools/package.json
  yarn.lock
Due: prepare-node-dependencies

🏰 chore: fix eslint rules for explicit-function-return-type
  .vscode/settings.json
  packages/base/.eslintrc.cjs
  packages/tools/eslint/rules.eslint.js
Due: none

💥 feat: add codicon font
  .vscode/launch.json
  packages/base/.eslintrc.cjs
  packages/icons/.eslintrc.cjs
  packages/icons/.storybook/main.js
  packages/icons/.storybook/preview.js
  packages/icons/package.json
  packages/icons/src/codicons/codicon/codicon-modifiers.css
  packages/icons/src/codicons/codicon/codicon.css
  packages/icons/src/codicons/codicon/codicon.ttf
  packages/icons/src/codicons/index.ts
  packages/icons/stories/assets/code-brackets.svg
  packages/icons/stories/assets/colors.svg
  packages/icons/stories/assets/comments.svg
  packages/icons/stories/assets/direction.svg
  packages/icons/stories/assets/flow.svg
  packages/icons/stories/assets/plugin.svg
  packages/icons/stories/assets/repo.svg
  packages/icons/stories/assets/stackalt.svg
  packages/icons/stories/codicons.stories.tsx
  packages/icons/stories/hello.stories.mdx
  packages/icons/tsconfig.eslint.json
  packages/icons/tsconfig.json
  packages/icons/vite.config.ts
  yarn.lock
Due: prepare-node-dependencies

💥 feat: add encoding algorithms
  .scripts/bootstrap/loader.cjs
  packages/base/.eslintrc.cjs
  packages/base/package.json
  packages/base/src/common/ansi.ts
  packages/base/src/common/buffer.ts
  packages/base/src/common/encoding/iconv-lite.ts
  packages/base/src/common/encoding/index.ts
  packages/base/src/common/marshalling.ts
  packages/base/src/common/network.ts
  packages/base/src/common/uri-ipc.ts
  packages/base/tests/common/buffer.test.ts
  packages/base/tests/common/encoding.test.ts
  packages/base/tests/common/fixtures/encoding/empty.txt
  packages/base/tests/common/fixtures/encoding/issue_102202.txt
  packages/base/tests/common/fixtures/encoding/some.cp1252.txt
  packages/base/tests/common/fixtures/encoding/some.css.qwoff
  packages/base/tests/common/fixtures/encoding/some.json.png
  packages/base/tests/common/fixtures/encoding/some.pdf
  packages/base/tests/common/fixtures/encoding/some.png.txt
  packages/base/tests/common/fixtures/encoding/some.qwoff.txt
  packages/base/tests/common/fixtures/encoding/some.shiftjis.txt
  packages/base/tests/common/fixtures/encoding/some.xml.png
  packages/base/tests/common/fixtures/encoding/some_ansi.css
  packages/base/tests/common/fixtures/encoding/some_file.css
  packages/base/tests/common/fixtures/encoding/some_gbk.txt
  packages/base/tests/common/fixtures/encoding/some_utf16be.css
  packages/base/tests/common/fixtures/encoding/some_utf16le.css
  packages/base/tests/common/fixtures/encoding/some_utf8.css
  packages/base/tests/common/fixtures/encoding/utf16_be_nobom.txt
  packages/base/tests/common/fixtures/encoding/utf16_le_nobom.txt
  packages/base/tsconfig.json
  packages/i18n/package.json
  packages/i18n/tsconfig.json
  packages/tools/.eslintrc.cjs
  packages/tools/tsconfig.eslint.json
  packages/tools/tsconfig.json
  yarn.lock
Due: prepare-node-dependencies

💥 feat: add implementation for functions in nodejs runtime
  packages/base/.eslintrc.cjs
  packages/base/package.json
  packages/base/src/common/normalization.ts
  packages/base/src/common/performance.js
  packages/base/src/common/strip-comment.js
  packages/base/src/node/crypto.ts
  packages/base/src/node/mac-address.ts
  packages/base/src/node/node-streams.ts
  packages/base/src/node/pfs.ts
  packages/base/src/node/ports.ts
  packages/base/src/node/processes.ts
  packages/base/src/node/zip.ts
  packages/base/src/testing/common/utils.ts
  packages/base/src/testing/node/utils.ts
  packages/base/tests/common/normalization.test.ts
  packages/base/tests/node/crypto.test.ts
  packages/base/tests/node/node-streams.test.ts
  packages/base/tests/node/pfs/fixtures/examples/company.jxs
  packages/base/tests/node/pfs/fixtures/examples/conway.jxs
  packages/base/tests/node/pfs/fixtures/examples/employee.jxs
  packages/base/tests/node/pfs/fixtures/examples/small.jxs
  packages/base/tests/node/pfs/fixtures/index.html
  packages/base/tests/node/pfs/fixtures/site.css
  packages/base/tests/node/pfs/pfs.test.ts
  packages/base/tests/node/port.test.ts
  packages/base/tests/node/zip/fixtures/extract.zip
  packages/base/tests/node/zip/zip.test.ts
  packages/tools/.eslintrc.cjs
  packages/tools/eslint/rules.eslint.js
  packages/tools/package.json
  packages/tools/reporter/index.ts
  packages/tools/tsconfig.eslint.json
  packages/tools/tsconfig.json
  yarn.lock
Due: prepare-node-dependencies

💥 feat: implement broadcast channel
  packages/base/src/browser/broadcast.ts
Due: none

feat: codebase update
  apps/desktop/package.json
  apps/desktop/src/workbench/index.tsx
  apps/desktop/tsconfig.json
  apps/desktop/tsconfig.node.json
  apps/desktop/vite.config.ts
  package.json
  packages/base/package.json
  packages/base/src/browser/browser.ts
  packages/base/src/browser/can-i-use.ts
  packages/base/src/browser/dom.ts
  packages/base/src/browser/hash.ts
  packages/base/src/browser/indexedDB.ts
  packages/base/src/browser/keyboard-event.ts
  packages/base/src/browser/performance.ts
  packages/base/src/common/actions.ts
  packages/base/src/common/date.ts
  packages/base/src/common/error-message.ts
  packages/base/src/common/json-error-message.ts
  packages/base/src/common/keybinding-labels.ts
  packages/base/src/common/platform.ts
  packages/base/src/common/strings.ts
  packages/base/src/node/zip.ts
  packages/base/tests/browser/browser.test.ts
  packages/base/tests/browser/dom.test.ts
  packages/base/tests/browser/hash.test.ts
  packages/base/tests/browser/indexedDB.test.ts
  packages/base/tests/common/types.test.ts
  packages/base/vite.config.ts
  packages/contribution/package.json
  packages/i18n/package.json
  packages/tools/eslint/rules.eslint.js
  tsconfig.base.json
  yarn.lock
Due: prepare-node-dependencies

🏰 chore: fix vite config
  apps/desktop/.eslintrc.cjs
  apps/desktop/package.json
  apps/desktop/tsconfig.eslint.json
  apps/desktop/vite.config.ts
  packages/base/.eslintrc.cjs
  packages/base/package.json
  packages/base/src/common/performance.d.ts
  packages/base/src/common/performance.js
  packages/base/src/common/strip-comment.d.ts
  packages/base/src/common/strip-comment.js
  packages/base/src/common/strip-comment.ts
  packages/base/src/node/zip.ts
  packages/base/tests/browser/dom.test.ts
  packages/base/tests/browser/hash.test.ts
  packages/base/tests/browser/indexedDB.test.ts
  packages/base/tsconfig.json
  packages/base/vite.config.ts
  packages/contribution/package.json
  packages/contribution/tsconfig.json
  packages/contribution/vite.config.ts
  packages/i18n/package.json
  packages/i18n/src/common/index.ts
  packages/i18n/src/node/index.ts
  packages/i18n/src/node/localization-contribution.ts
  packages/i18n/vite.config.ts
  packages/icons/package.json
  packages/icons/vite.config.ts
  packages/tools/tsconfig.json
  tsconfig.base.json
  tsconfig.node.json
  yarn.lock
Due: prepare-node-dependencies

🏰 chore: improve vite config to rm .dist first
  packages/base/vite.config.ts
  packages/contribution/vite.config.ts
  packages/i18n/vite.config.ts
  packages/icons/vite.config.ts
Due: none

🏰 chore: remove electron-vite-renderer
  apps/desktop/package.json
  apps/desktop/src/platform/main.ts
  apps/desktop/src/workbench/index.tsx
  apps/desktop/vite.config.ts
  yarn.lock
Due: prepare-node-dependencies

🏰 chore: improve vite config to manually set rollup entry
  apps/desktop/vite.config.ts
Due: none

💥 feat: implementation for core/commands
  packages/base/package.json
  packages/base/src/common/index.ts
  packages/core/.eslintignore
  packages/core/.eslintrc.cjs
  packages/core/README.md
  packages/core/package.json
  packages/core/src/action/common/actions.ts
  packages/core/src/action/common/categories.ts
  packages/core/src/commands/common/commands.ts
  packages/core/tests/commands/common/commands.test.ts
  packages/core/tests/commands/common/null-command-service.ts
  packages/core/tsconfig.eslint.json
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  packages/tools/eslint/rules.eslint.js
Due: none

🔧 refactor: refactoring core/functionality => core/platform/functionality
  packages/core/src/platform/action/common/actions.ts
  packages/core/src/platform/action/common/categories.ts
  packages/core/src/platform/commands/common/commands.ts
  packages/core/tests/platform/commands/common/commands.test.ts
  packages/core/tests/platform/commands/common/null-command-service.ts
Due: none

💥 feat: core/log/common implementation
  packages/core/.eslintrc.cjs
  packages/core/src/platform/log/common/buffer-log.ts
  packages/core/src/platform/log/common/log-service.ts
  packages/core/src/platform/log/common/log.ts
  packages/core/src/workbench/commands/common/command-service.ts
  packages/core/tests/workbench/commands/common/command-service.test.ts
Due: none

💥 feat: add ipc/sandbox
  apps/desktop/package.json
  apps/desktop/src/platform/preload.ts
  packages/base/src/common/console.ts
  packages/base/src/common/product.ts
  packages/base/tests/common/console.test.ts
  packages/core/.eslintrc.cjs
  packages/core/package.json
  packages/core/src/parts/ipc/browser/ipc.mp.ts
  packages/core/src/parts/ipc/common/ipc.mp.ts
  packages/core/src/parts/ipc/common/ipc.net.ts
  packages/core/src/parts/ipc/common/ipc.ts
  packages/core/src/parts/ipc/node/ipc.cp.ts
  packages/core/src/parts/ipc/node/ipc.mp.ts
  packages/core/src/parts/ipc/node/ipc.net.ts
  packages/core/src/parts/sandbox/common/electron-types.ts
  packages/core/src/parts/sandbox/common/sandbox-types.ts
  packages/core/src/parts/sandbox/electron-sandbox/electron-types.ts
  packages/core/src/parts/sandbox/electron-sandbox/globals.ts
  packages/core/src/parts/sandbox/node/electron-types.ts
  packages/core/tests/parts/ipc/tests/browser/ipc.mp.test.ts
  packages/core/tests/parts/ipc/tests/common/ipc.test.ts
  packages/core/tests/parts/ipc/tests/node/ipc.net.test.ts
  packages/core/tests/workbench/commands/common/command-service.test.ts
  packages/core/vite.config.ts
  packages/tools/eslint/rules.eslint.js
  tsconfig.base.json
Due: none

💥 feat: add ipc.electron
  apps/desktop/package.json
  apps/desktop/src/platform/preload.ts
  packages/base/src/common/network.ts
  packages/core/package.json
  packages/core/src/parts/ipc/common/ipc.electron.ts
  packages/core/src/parts/ipc/electron-main/ipc.electron.ts
  packages/core/src/parts/ipc/electron-main/ipc.main.ts
  packages/core/src/parts/ipc/electron-main/ipc.mp.ts
  packages/core/src/parts/ipc/electron-sandbox/ipc.electron.ts
  packages/core/src/parts/ipc/electron-sandbox/ipc.mp.ts
  packages/core/src/parts/sandbox/electron-sandbox/globals.ts
  packages/core/src/parts/sandbox/electron-sandbox/preload.ts
  packages/core/tests/parts/ipc/tests/electron-sandbox/ipc.mp.test.ts
  packages/core/vite.config.ts
  yarn.lock
Due: prepare-node-dependencies

💥 feat: add storage impl
  packages/core/.eslintrc.cjs
  packages/core/package.json
  packages/core/src/parts/request/browser/request.ts
  packages/core/src/parts/request/common/request.ts
  packages/core/src/parts/storage/common/storage.ts
  packages/core/src/parts/storage/node/storage.ts
  packages/core/tests/parts/storage/node/storage.test.ts
  tsconfig.base.json
  yarn.lock
Due: prepare-node-dependencies

🔧 refactor: separate tools and configs
  apps/desktop/.eslintrc.cjs
  apps/desktop/package.json
  packages/base/.eslintrc.cjs
  packages/base/package.json
  packages/configs/.eslintrc.cjs
  packages/configs/eslint/restricted-path.eslint.js
  packages/configs/eslint/rules.eslint.js
  packages/configs/package.json
  packages/configs/tsconfig.eslint.json
  packages/configs/tsconfig.json
  packages/contribution/.eslintrc.cjs
  packages/contribution/package.json
  packages/core/.eslintrc.cjs
  packages/core/package.json
  packages/i18n/.eslintrc.cjs
  packages/i18n/package.json
  packages/i18n/tsconfig.eslint.json
  packages/icons/.eslintrc.cjs
  packages/icons/package.json
  packages/tools/cli/main.ts
  packages/tools/localization/extractor.test.ts
  packages/tools/localization/extractor.ts
  packages/tools/vite.config.ts
  yarn.lock
Due: prepare-node-dependencies

🌷 style: fix eslint
  packages/base/src/common/error-message.ts
  packages/base/src/common/json-error-message.ts
  packages/base/src/common/keybinding-labels.ts
  packages/core/src/platform/log/common/log.ts
Due: none

Path conditions:
  maspectra-lint: any of: mas/apps/maspectra/**/*
  ebt-test: any of: mas/apps/ebt/**/*
  masmod-test: any of: mas/libs/masmod/**/*
  maspy-test: any of: mas/libs/maspy/**/*
  noctowl-test: any of: mas/libs/noctowl/**/*
  phanpy-test: any of: mas/libs/phanpy/**/*
  prepare-node-dependencies: any of: yarn.lock
  prepare-python-dependencies: any of: poetry.lock
  prepare-cxx-dependencies: any of: mas/vendor/package.json
